<div class="input-info-wrap">
    <div class="info-form-wrap">
        <div class="info-form-title">추가 정보 수정</div>
        <div class="info-form-content">
            당신의 추가적인 정보를 기입해주세요! <br>
            좀 더 정확한 심리 진단에 도움이 됩니다.
            <br><br>
            <li>추가정보 기입은 선택사항입니다.</li>
        </div>
        <div  class="info-form">
            <form [formGroup]="infoForm">
                <div>
                    <div class="input-info">
                        <kendo-formfield>
                            <kendo-label class="form-label" [for]="name" text="이름"></kendo-label>
                            <input class="form-input" readonly formControlName="userName" kendoTextBox #name/>
                        </kendo-formfield>
                    </div>
                    <div class="input-info">
                        <!--                        <mat-form-field appearance="outline">-->
                        <!--                            <mat-label >E-mail</mat-label>-->
                        <!--                            <input matInput class="form-input" formControlName="email">-->
                        <!--                        </mat-form-field>-->
                        <kendo-formfield>
                            <kendo-label class="form-label" [for]="email" text="Email"></kendo-label>
                            <input class="form-input" readonly formControlName="userEmail" kendoTextBox #email/>
                            <!--                            <kendo-formhint>Your active email</kendo-formhint>-->
                            <!--            <kendo-formerror>Error: Not valid email format</kendo-formerror>-->
                        </kendo-formfield>
                    </div>
                    <div class="input-info">
                        <kendo-label class="form-label" [for]="sex" text="성별"></kendo-label>
                        <!--                            <input class="form-input" formControlName="sex" kendoTextBox #sex/>-->
                        <kendo-dropdownlist
                                [data]="genderList"
                                formControlName="genderId"
                                textField="description"
                                valueField="id"
                                [value]="selectedGender"
                                [valuePrimitive]="true"
                                #sex
                                class="form-input">
                        </kendo-dropdownlist>
                    </div>
                    <div class="input-info">
                        <kendo-formfield>
                            <kendo-label class="form-label" [for]="age" text="나이"></kendo-label>
                            <input class="form-input" formControlName="age" kendoTextBox #age/>
                        </kendo-formfield>
                    </div>

                    <div class="input-info">
                        <kendo-label class="form-label" [for]="job" text="직업/학년"></kendo-label>
                        <kendo-dropdownlist
                                [data]="jobList"
                                formControlName="jobId"
                                textField="description"
                                valueField="id"
                                [value]="selectedJob"
                                [valuePrimitive]="true"
                                #job
                                class="form-input">
                        </kendo-dropdownlist>
                        <!--                        <input class="form-input" formControlName="job" kendoTextBox #job/>-->
                    </div>

                    <div class="input-info">
                        <kendo-formfield>
                            <kendo-label class="form-label" [for]="familyNum" text="가족 수"></kendo-label>
                            <input class="form-input" formControlName="familyNum" kendoTextBox #familyNum/>
                        </kendo-formfield>
                    </div>

                </div>
            </form>
            <div>
                <div class="input-info">
                    <kendo-label class="form-label"  text="가족 구성원">
                        <kendo-multiselect
                                class="form-input"
                                [autoClose]="false"
                                [data]="familyTypeList"
                                textField="description"
                                valueField="description"
                                [(ngModel)]="selectedFamily"
                        ></kendo-multiselect>
                    </kendo-label>
                    <!--                            <div style="display: flex; flex-wrap: wrap; width: 100%;">-->
                    <!--                                <div *ngFor="let item of familyTypeList" style="font-size: 19px; margin: 5px 0; width: 50%;">-->
                    <!--                                    <input  type="checkbox" (change)="checkedFamilyType($event, item.id)"/>{{item.description}}-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <div class="input-info">
                        <kendo-label class="form-label" text="가족과의 관계">
                            <div style="font-size:17px;margin-right: 2px" *ngFor="let family of selectedFamily; let i = index">
                                - {{family.description}}
                                <ng-container *ngIf="family.description!='나'">
                                    {{family.numericValue}}
                                    <kendo-numerictextbox
                                            [style.width.px]="80"
                                            format="0"
                                            [min]="0"
                                            [max]="100"
                                            [(ngModel)]="family.numericValue"
                                    >
                                    </kendo-numerictextbox>
                                    <ng-container *ngFor="let j of [].constructor(family.numericValue); let k = index">
                                        <div style="display: flex; flex-wrap: wrap; width: 100%;">
                                            <div style="font-size: 15px;margin-top:7px">{{family.description}} {{k+1}}</div>
                                            <div *ngFor="let item of familyRelation;let m = index" style="font-size: 15px; margin: 5px 5px;">
                                                <input type="radio"  name="{{family.description + k}}" value="{{family.id+'_'+item.id}}" [(ngModel)]="selectedValues[k * familyRelation.length+i]"/>
                                                {{item.description}}
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </kendo-label>
                    </div>
                </div>
                <!--                        <input class="form-input" formControlName="familyRelationCode" kendoTextBox #familyRelationCode/>-->
            </div>
        </div>
        <div style="padding: 10px 0;margin:40px 0;display: flex;justify-content: center;">
            <button type="submit" mat-raised-button style="width: 500px; background-color: #fe5e23; color: #ffffff;" (click)="modifyPatientInfo()">수정</button>
        </div>
    </div>

</div>
