.side{
  position:absolute;
  left: 1vw;
  top: 2vh;
  width: 15vw;
  min-width: 220px;
  max-width: 250px;
  height: 80%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 1.5rem;
  
  .card-title{
    background-color: #323232; 
    color: #ffffff;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    height: 35px;
    font-size: 15 px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 10px;

    // width: 210px;
    // height: 25px;
    // padding: 10px 20px;
    // font-size: 20px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // border-bottom: #D2D2D2 solid 1px;

    // &.sub{
    //   border-top: #D2D2D2 solid 1px;
    //   height: 20px;
    // }

  }

  .card-seq-wrap{
    height: 75%;
    overflow-y: scroll;
    .card-seq{
      height: 40px;
      cursor: pointer;
      padding: 15px 25px;
      display: flex;
      align-items: center;

      .title{
        background-color: #bfbfbf;
        color: #ffffff;
        padding: 5px 10px;
        border-radius: 1.5rem;
        font-size: 15px;
        margin-right: 10px;
        width: 45px;
        text-align : center;
      }
      .sub{
        font-size: 13px;
        font-weight: normal;
      }

    }
  }
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #ebebeb;


  .canvas-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    min-width: 980px;
    width: 100%;
    height: 100%;
    //margin-top: 1vh;
    //width:50%;


    .image-container{
      //border: 1px solid black;
      //padding-top: 100%;
      //margin-top: 25px;
      height: 80%;
      width: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top;
    }
  }

}

.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.popup {
    width: 100%;
    height: 100%;
    background-color: #fff;
    //border: 1px solid #ccc;
    //border-radius: 5px;
    //box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    //padding: 10px;
    overflow: auto;

    .popup-canvas-wrap{
      display: flex;
      flex-direction: row;
      align-items: center;
      //max-width: 1400px;
      //max-height: 800px;
      width: 100%;
      max-height: 100%;
      //margin: 10px;
      justify-content: space-between;
      background-color: #ebebeb;


      .img-card-wrap{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        min-width: 150px;
        width: 150px;
        height: 100vh;
        //border: #666666 dashed 1px;
        overflow: auto;
        background-color: #323232 ;


        .img-card{
          cursor: pointer;
          border-radius: 5px;
          height: 12vh;
          .img-card-header{
            margin: 5px;
            //border-bottom: #f0f0f0 solid 1px;
            border-radius: 5px;
            //background-color: #f3f4f5;
            text-align: center;
            position: relative;
            width: 90%;
            height: 90%;

            .img-card-style{
              width: 100%;
              height: 100%;
              filter: invert(100%);


            }

            .img-card-text{
              width: 130px;
              position: absolute;
              background-color: #ffffff;
              top: 50%;
              left: 50%;
              transform: translate( -50%, -50% );
            }
          }
        }

        .img-card-family{
          border-radius: 5px;
          margin: 5px;
          border: #f0f0f0 solid 1px;
          width: 120px;

          .img-card-header{
            border-bottom: #f0f0f0 solid 1px;
            border-radius: 5px;
            background-color: #f3f4f5;
            text-align: center;

          }
          .img-card-body{
            padding: 5px 10px;
          }

        }


      }

      .pop-up-style{
        display: flex; 
        height: fit-content; 
        max-height: 800px; 
        flex-direction: row;

        .pop-up-select-image-wrap{
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          background-color: #ffffff;
          box-shadow: 0px 0px 18px -4px #979797; 
          border-radius: 1.5rem;
          
          
          &.top{ 
            margin-right: 10px;
          }
          &.etc{
            z-index: 1002;        
          }
  
          .pop-up-select-image{
            display: flex;
            flex-direction: column;
            //flex-wrap: wrap;
            justify-content: flex-start;
            align-content: center;
            //border: #666666 solid 1px;
            border: none;
            border-radius: 1.5rem;
            //width: min-content;
            height: fit-content;
            max-height: 800px;
            min-height: 370px;
            overflow: auto;
            background-color: #ffffff;
            text-align: center;
            
    
            .img-wrap{
              width: fit-content;
              height: fit-content;
              padding: 15px;
              // border-right: 1px solid #e0e0e0;
              border-bottom: 1px solid #e0e0e0;
    
              img{
                width: 90px;
                cursor: pointer;
                -webkit-transition: .3s ease-in-out;
                transition: .3s ease-in-out;
    
              }
    
              &:hover {
                background-color: #e0e0e0;
              }
            }
    
            
          }
        }
      }
      

      
      
    }
  }

  .text-wrap{
    width: 95px;
    height: 25px;
    padding: 15px;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;

    background-color: #ffffff;
    cursor: pointer;

    border-bottom: 1px solid #e0e0e0;
    
    &:hover {
      background-color: #e0e0e0;
    }
  }

  .btn-wrap{
    display:flex;
    justify-content: flex-end;
    // margin-bottom: 20px;
    width: 90%;

    .button-style{
      cursor: pointer;
      margin: 10px;
      height: 38px;
      width : 100px;
      border: none;
      border-radius: 1.5em;
      color: #ffffff;
      background-color: #ca3d57;
      box-shadow: 4px 6px 4px -4px #a7a7a7;
      font-size: 17px;

      &.del{
        background-color: #fe5e23;

      }
    }
  }
}



.button-style{

  cursor: pointer;
  margin: 10px;
  height: 38px;
  width : 100px;
  border-radius: 1.5em;
  border: none;
  background-color: #fe5e23;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;

  &.btn2 {
    background-color: #3c8bf3;
  }

  &.btn3{
    width: 70px;
    background-color: #f3a600;

  }

  &.btn4{
    width: 70px;
    background-color: #15db00;

  }
}




kendo-drawer-container {
  position: fixed;
  width: 100%;
  height: 96.84%;
  padding: 0;

  kendo-drawer-content {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;

  }



}


.result-answer-sub-title{
  width: fit-content;
  font-size: 15px;
  background-color: #eeeeee;
  border-radius: 1.5rem;
  padding: 5px 30px;
  margin-bottom: 10px;
}

