.container{
  width: 100%;
  height: 100%;
  display: flex;


  .col{
    //min-width: 220px;
    max-width: 15%;
    max-height: 73%;
    border: #666666 dashed 1px;
    margin: 10px 20px;
    overflow-y: scroll;

    .card{
      width: 180px;
      border: #000000 solid 1px;
      border-radius: 5px;
      margin: 20px;

      .card-header{
        border-bottom: #000000 solid 1px;
        background-color: #c7c7c7;
        text-align: center;



        &.sub{
          border-bottom: #000000 solid 1px;
          border-top: #000000 solid 1px;
        }
      }

      .card-body{
        display: flex;
        flex-wrap: wrap;
        padding: 3px;
        justify-content: space-evenly;

        .btn-group {
          margin: 5px;
        }
        .img-wrap{
          margin: 0;
          padding: 0;
          width: 60px;
          img{
            width: 100%;
            padding: 3px;

            cursor: pointer;
            //-webkit-transition: .5s ease;
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;

            &:hover {
              //opacity: 0.7;
              width: 120%;
            }
          }
        }
      }
    }
  }






  .canvas-wrap{
    display: flex;
    flex-direction: column;
    max-width: 62%;
    margin: 10px;




    app-dashboard-drag-and-drop{
      max-width: 100%;
      max-height: 100%;

    }

    .select-image{
      position: absolute;
      z-index: 999;
      border: #666666 solid 1px;
      bottom: 25%;


      .img-card-body{
        display: flex;
        flex-wrap: wrap;
        padding: 3px;
        justify-content: space-evenly;

        .btn-group {
          margin: 5px;
        }
        .img-wrap{
          margin: 0;
          padding: 0;
          width: 60px;
          img{
            width: 100%;
            padding: 3px;

            cursor: pointer;
            //-webkit-transition: .5s ease;
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;

            &:hover {
              //opacity: 0.7;
              width: 120%;
            }
          }
        }


      }
    }

    .row{
      position: relative;
      display: flex;
      flex-direction: row;
      max-width: 98%;
      max-height: 15%;
      border: #666666 dashed 1px;
      margin: 10px 20px;
      overflow-x: scroll;


      .img-card{
        min-width: 180px;
        min-height: 140px;
        border: #f0f0f0 solid 1px;
        border-radius: 5px;
        margin: 10px;


        .img-card-header{
          border-bottom: #f0f0f0 solid 1px;
          border-radius: 5px;
          background-color: #f3f4f5;
          text-align: center;

          .img-card-style{
            width: 180px;
            height: 140px;
          }

          &.sub{
            border-bottom: #000000 solid 1px;
            border-top: #000000 solid 1px;
          }
        }



        .img-card-body{
          display: flex;
          flex-wrap: wrap;
          padding: 3px;
          justify-content: space-evenly;

          .btn-group {
            margin: 5px;
          }
          .img-wrap{
            margin: 0;
            padding: 0;
            width: 60px;
            img{
              width: 100%;
              padding: 3px;

              cursor: pointer;
              //-webkit-transition: .5s ease;
              -webkit-transition: .3s ease-in-out;
              transition: .3s ease-in-out;

              &:hover {
                //opacity: 0.7;
                width: 120%;
              }
            }
          }


        }
      }
    }
  }





}






.main-title{
  margin-top: 10px;
}
.images-item {
  width: 50%;
  cursor: pointer;
  -webkit-transition: .5s ease;
  -webkit-transition: .5s ease;
  padding: 3px;
  max-width: 120px;

  &:hover {
    opacity: 0.7;
  }
}

.images-item-upload {
  width: 80%;
  cursor: pointer;
  padding-bottom: 10px;
  -webkit-transition: .5s ease;
  -webkit-transition: .5s ease;

  &:hover {
    opacity: 0.7;
  }
}

.custom-item {
  border-bottom: 2px solid #f3f3f3;

  .custom-item-title {
    color: #666666;
    font-weight: 600;
  }

  .custom-item-body {
    padding: 10px 0;
  }
}

.image-card{
  width:180px;
  background-color: rgb(243 244 245);
  .select-image-container{
    width:750px;
    height:150px;
    background-color: rgb(247 244 245);
    border-radius:30px;

  }
}
.select-image-card{
  width:180px
}
