<div style="display: flex; justify-content: center;  margin-top: 1vh; height: 90%;">
        <div
                style="border: #8babff dashed 2px;
                width: 95%;
                height: 100%;
                text-align: center;
        ">
        <h2>tutorial video</h2>
        </div>
</div>

<!-- <div style="display:flex;justify-content: flex-end; padding: 30px;height: 30%;">
    <button
            style="height: 130px;
            width: 130px;
            border-radius: 50%;
            border: #fe5e23 solid 1px;
            background-color: #ffffff;
            box-shadow:  0 0 20px #fe5e23;
            cursor: pointer;
            "
            (click)="inputInfo()"
    >
           <span style="font-size: 30px; color:#fe5e23 "> Next </span></button>

</div> -->
