<div style="display: flex; justify-content: center;  margin-top: 50px;">
<div
        style="border: #8babff dashed 2px;
        width: 95%;
        height: 600px;
        text-align: center;
        /*margin: 10px;*/
">
    <h2>tutorial video</h2>
</div>
</div>
<div style="display:flex;justify-content: flex-end; padding: 30px;">
<!--    <button type="submit" mat-raised-button style="width: 500px; background-color: #fe5e23; color: #ffffff;" (click)="inputInfo()">NEXT</button>-->
    <button
            style="height: 130px;
            width: 130px;
            border-radius: 50%;
            border: #fe5e23 solid 1px;
            background-color: #ffffff;
            box-shadow:  0 0 20px #fe5e23;
            cursor: pointer;
            "
            (click)="inputInfo()"
    >
           <span style="font-size: 30px; color:#fe5e23 "> Next </span></button>

</div>
