<div >
        <button style="width:120px;height: 50px;font-size:18px" (click)="clear()">초기화</button>
        <button style="width:120px;height: 50px;font-size:18px" (click)="removeSelected()">삭제</button>
        <button style="width:120px;height: 50px;font-size:18px" (click)="getObject()">좌표값</button>
        <div>
            <div>
                <div><br>
                    <b>객체 추가 순서 : </b>
                    <ng-container *ngFor="let item of familyList;">
                        {{item}}
                    </ng-container>
                </div>
                <img src="../../assets/img/water.png" style="position: absolute;top:150px;left:250px;height: 640px;width:1500px;">
                <app-canvas #canvas></app-canvas>
            </div><br>
            <div> 관계 선택 :
                <input type="radio" name="family" value="dad" [(ngModel)]="selectedFamily" (change)="onChange()">아빠
                <input type="radio" name="family" value="mom" [(ngModel)]="selectedFamily" (change)="onChange()">엄마
                <input type="radio" name="family" value="brother" [(ngModel)]="selectedFamily" (change)="onChange()">형제
                <input type="radio" name="family" value="sister" [(ngModel)]="selectedFamily" (change)="onChange()">자매
                <button (click)="select()">확인</button>
                <div [style.pointer-events]="selectedFamily.length > 0 ? 'auto' : 'none'">
                    <div style="width:750px;height:150px;background-color: rgb(247 244 245);border-radius:30px" [hidden]="!isPopupVisible1">

                        <img style="width:180px;" (click)="getImgPolaroid($event)" src="../../assets/img/둥근물고기_기본-_1_.svg" >
                        <img style="width:180px;" (click)="getImgPolaroid($event)" src="../../assets/img/화난둥근물고기_비늘없슴.svg" >
                        <img style="width:180px;" (click)="getImgPolaroid($event)" src="../../assets/img/슬픈둥근물고기_비늘없슴.svg" >
                        <img style="width:180px;" (click)="getImgPolaroid($event)" src="../../assets/img/웃는둥근물고기_비늘없슴.svg" >
                    </div>
                    <div style="width:750px;height:150px;background-color: rgb(247 244 245)" [hidden]="!isPopupVisible2">
                        <img style="width:180px;" (click)="getImgPolaroid($event)" src="../../assets/img/기본고래_물.svg" >
                        <img style="width:180px;" (click)="getImgPolaroid($event)" src="../../assets/img/whaleAngryWithWater.svg" >
                        <img style="width:180px;" (click)="getImgPolaroid($event)" src="../../assets/img/삐진고래_물.svg" >
                        <img style="width:180px;" (click)="getImgPolaroid($event)" src="../../assets/img/웃는고래_1지느러미.svg" >
                    </div>
                    <div style="width:750px;height:150px;background-color: rgb(247 244 245)" [hidden]="!isPopupVisible3">
                        <img style="width:180px;" (click)="getImgPolaroid($event)" src="../../assets/img/상어기본_지느러미.svg" >
                        <img style="width:180px;" (click)="getImgPolaroid($event)" src="../../assets/img/화난상어_지느러미.svg" >
                        <img style="width:180px;" (click)="getImgPolaroid($event)" src="../../assets/img/슬픈상어_지느러미.svg" >
                        <img style="width:180px;" (click)="getImgPolaroid($event)" src="../../assets/img/웃는상어_지느러미.svg" >
                    </div>
                    <div style="width:750px;height:150px;background-color: rgb(247 244 245)" [hidden]="!isPopupVisible4">
                        <img style="width:180px;" (click)="getImgPolaroid($event)" src="../../assets/img/장어_기본.svg" >
                        <img style="width:180px;" (click)="getImgPolaroid($event)" src="../../assets/img/장어_화난.svg" >
                        <img style="width:180px;" (click)="getImgPolaroid($event)" src="../../assets/img/장어_슬픈.svg" >
                        <img style="width:180px;" (click)="getImgPolaroid($event)" src="../../assets/img/장어_웃는.svg" >
                    </div>
                        <div style="top:1000px;position:absolute;">
                            <img style="width:180px;background-color: rgb(243 244 245);" (click)="showPopup1()" src="../../assets/img/둥근물고기_기본-_1_.svg" >&nbsp;
                            <img style="width:180px;background-color: rgb(243 244 245);" (click)="showPopup2()" src="../../assets/img/기본고래_물.svg" >&nbsp;
                            <img style="width:180px;background-color: rgb(243 244 245);" (click)="showPopup3()" src="../../assets/img/상어기본_지느러미.svg" >&nbsp;
                            <img style="width:180px;background-color: rgb(243 244 245);" (click)="showPopup4()" src="../../assets/img/장어_기본.svg" >&nbsp;
                        </div>

                </div>
            </div>
        </div>
    </div>
<!--    -->
    <div style="">
    </div>



<!--그리기 모드 on/off-->
<!--<div class="input-group-append">-->
<!--    <div class="custom-control custom-switch">-->
<!--        <input type="checkbox" class="custom-control-input" checked id="customSwitch1" (click)="drawMode()">-->
<!--        <label class="custom-control-label" for="customSwitch1">Enable / Disable</label>-->
<!--    </div>-->
<!--</div>-->