.example-box {
  width: 150px;
  height: 150px;
}



.example-boundary {
  width: 1600px;
  height: 895px;
  max-width: 100%;
  border: dotted #ccc 2px;
}

.example-box-copy {
  opacity: 0.5;
  border: 2px dashed blue;
}

//.test{
//  margin:0;
//  position: relative;
//  top:0px;
//  bottom:0px;
//}