:host{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #FFFFFF;
}
.top-nav-wrap{
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #ffffff;
  //border-bottom: #a7a7a7 solid 1px;
  //box-shadow:  4px 0 4px -4px #a7a7a7;
}
