:host{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #FFFFFF;
}
.top-nav-wrap{
  width: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  background-color: #ffffff;
  //border-bottom: #a7a7a7 solid 1px;
  //box-shadow:  4px 0 4px -4px #a7a7a7;
}

.button-style{
  cursor: pointer;
  margin: 10px;
  height: 33px;
  width : 95px;
  border: none;
  border-radius: 1.5em;
  color: #ffffff;
  background-color: #ca3d57;
  box-shadow: 4px 6px 4px -4px #a7a7a7;
  font-size: 17px;

  &.del{
    background-color: #fe5e23;

  }
}

.customClass{
    top: 52.25px;;
}