<!--<canvas id="canvas"-->
<!--        #htmlCanvas-->
<!--        [ngStyle] = "{'background-image': 'url('+waterUrl+')'}"-->
<!--        style=" background-repeat: no-repeat; background-size: 100% 100%;  border: 2px dashed #cccccc; "></canvas>-->
<kendo-popup [anchor]="anchor1"
                         *ngIf="isSelectFirstFish == 1  && !selectedFamilyType?.description"
                         [anchorAlign]="anchorAlign"
                         [popupAlign]="popupAlign"
                         [margin] ="{ horizontal: 20, vertical: 0 }"
                         class="popup-description"
                         >
                         <div style="font-size: 17px; border: 3px solid #ca3d57; padding: 10px 15px;  width: fit-content; border-radius: 1.5rem;">
                                <div style="position: absolute;
                                background-color: #ca3d57;
                                border-radius: 1.5rem;
                                width: fit-content;
                                padding: 1px 6px;
                                font-size: 13px;
                                color: #ffffff;
                                font-weight: 400;
                                top: -10px;
                                left: 10px;">STEP.2-1</div>
                            물고기의 가족관계를 선택해주세요.
                         </div>
            </kendo-popup>


<kendo-popup [anchor]="anchor1"
        *ngIf="openFam"
        [anchorAlign]="anchorAlign"
        [popupAlign]="popupAlign"
        [margin] ="{ horizontal: 20, vertical: 0 }"
        class="popup-description"
        >
        <kendo-chiplist selection="single"
                        (selectedChange)="selectFamilyType($event)">
                <kendo-chip
                  *ngFor="let familyType of familyTypeList"
                  [label]="familyType.description"
                  [selected]="familyType.selected"
                >
                </kendo-chip>
        </kendo-chiplist>
</kendo-popup>

<div class="control-wrap">
        <button (click)="openFam = !openFam">open</button>
        <div class="control" #anchor1>
               
                <kendo-dropdownbutton 
                [disabled]="!isSelected"
                [data]="familyTypeList"
                textField="description"
                valueField="id"
                size="medium"
                (itemClick)="selectFamily($event)"
                >가족관계를 선택해주세요.
                </kendo-dropdownbutton>
                <span *ngIf="selectedFamilyType"
                        style="border-radius: 1.5rem; 
                        background-color: #323232; 
                        color: #ffffff;
                        text-align : center; 
                        padding: 5px 10px;
                        margin-left: 10px;">{{selectedFamilyType?.description}}</span>


                <label><span>회전</span> 
                        <input [disabled]="!isSelected" type="range" id="angle-control" value="0" min="0" max="360" (input)="changeControl('#angle-control','angle')">
                </label>

                <label>
                        <span>크기</span> 
                        <input [disabled]="!isSelected" type="range" id="scale-control" value="0.2" min="0.1" max="3" step="0.1" (input)="changeControl('#scale-control','scale')">
                </label>
                <label>
                        <span>좌우</span> 
                        <input [disabled]="!isSelected" type="range" id="left-control" value="150" min="0" max="1200" (input)="changeControl('#left-control','left')">
                </label>
                <label>
                        <span>위아래</span> 
                        <input [disabled]="!isSelected" type="range" id="top-control" value="150" min="0" max="900" (input)="changeControl('#top-control','top')">
                </label>
                <button [disabled]="!isSelected" class="button-style del" (click)="removeSelected();" [style.OPACITY]="isSelected? '': '50%'"> 삭제
                </button>
        </div>
</div>

<canvas id="canvas"
        #htmlCanvas
        style=" background-repeat: no-repeat; background-size: 100% 100%; "></canvas>
        

