<!--<canvas id="canvas"-->
<!--        #htmlCanvas-->
<!--        [ngStyle] = "{'background-image': 'url('+waterUrl+')'}"-->
<!--        style=" background-repeat: no-repeat; background-size: 100% 100%;  border: 2px dashed #cccccc; "></canvas>-->
<div class="control-wrap">

        <kendo-dropdownlist
                [data]="familyTypeList"
                [popupSettings]="{
                        width: 100,
                        popupClass: 'top-dropdownlist'
                        }"
                textField="description"
                valueField="id"
                size="medium"
                fillMode="outline"
                style="margin-right: 5px;width: 180px;font-size: 13px;"
                (selectionChange)="selectFamily($event)"
                [(ngModel)]="selectedFamilyType"
                >
        </kendo-dropdownlist>

        <label><span>Angle:</span> <input type="range" id="angle-control" value="0" min="0" max="360" (input)="changeControl('#angle-control','angle')"></label>
        <label><span>Scale:</span> <input type="range" id="scale-control" value="0.2" min="0.1" max="3" step="0.1" (input)="changeControl('#scale-control','scale')"></label>
        <label><span>Left:</span> <input type="range" id="left-control" value="150" min="0" max="1200" (input)="changeControl('#left-control','left')"></label>
        <label><span>Top:</span> <input type="range" id="top-control" value="150" min="0" max="900" (input)="changeControl('#top-control','top')"></label>
        <button class="button-style del" (click)="removeSelected();"> DELETE
        </button>
</div>

<canvas id="canvas"
        #htmlCanvas
        style=" background-repeat: no-repeat; background-size: 100% 100%; "></canvas>
        

