//////////////////////////////////////////////////////
/** Kendo-Dialog Title 영역 초기화 */
//////////////////////////////////////////////////////
.k-dialog-wrapper .k-dialog {
  overflow: hidden;
  //background-color: #333333;
  //color: #FFFFFF;
  box-shadow: 1px 1px 5px 1px #FFFFFF;

  .k-dialog-titlebar {
    //background-color: #FFFFFF;
    //color: #333333;
    //background-color: #333333;
    //color: #FFFFFF;
    //margin: 0 1rem;
    border-bottom: 1px solid #b7b7b7;
  }

  .k-dialog-title {
    font-size: 22px;
  }

  // 다이얼로그 상단 바 닫기 버튼 제거
  //.k-dialog-actions {
  //  display: none;
  //}

  .k-dialog-actions .k-icon-button .k-icon {
    font-size: 20px;
  }

  .k-window-content {
    padding: 5px 16px;
  }
}

//////////////////////////////////////////////////////
// alert 스티일
//////////////////////////////////////////////////////
.alert-style{
  padding: 10px 10px;
  color: #ffffff;
  font-size: 20px;
}
//////////////////////////////////////////////////////


//////////////////////////////////////////////////////
// 결과지 drawer style
//////////////////////////////////////////////////////
.k-overlay{
  z-index: 1000;
}

.drawer-style{
  height: 75vh;
  kendo-drawer .k-drawer{
    .k-drawer-mini{
      border-left: #cccccc solid 1px;
    }
  }


  .k-drawer-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;


    .k-drawer-items{
      .k-drawer-item{
        padding-block: 10px;
        padding-inline: 27px;
      }
    }
  }
}
//////////////////////////////////////////////////////


//////////////////////////////////////////////////////
// k-chip 스타일
//////////////////////////////////////////////////////
.k-chip{
  .k-chip-label{
    font-size: 12px;
  }
}

.k-chip-solid-base {
    padding-inline: 0;
}
//////////////////////////////////////////////////////


//////////////////////////////////////////////////////
// k-popup 스타일
//////////////////////////////////////////////////////
.draw-popup{
  box-shadow: 0px 0px 8px 0px #979797;
  border-radius: 1.5rem;
  
  .k-popup{
    background-color: unset;
    border-radius: 1.5rem;
    border: none;
  }

  &.label{
    box-shadow: unset;
    .k-popup{
      background-color: unset;
      border-radius: 1.5rem;
      border: none;
      box-shadow: unset;
    }
  }

}

//////////////////////////////////////////////////////


//////////////////////////////////////////////////////
// kendo dropdownbutton 스타일
//////////////////////////////////////////////////////
.top-dropdown{

  .k-button-icon {
    width: 50%;
    //padding-top: 5px;
  }
  .k-button{
    flex-wrap: wrap;
  }
}

.top-dropdown-option{
  .k-button{
    //background-color: #000000;
    font-size: 13px;
    padding: 3px 10px;
    line-height: 1.2;
  }

}

.k-menu-popup{
  width: 100px;
  border-radius: 0.5rem;

  .k-link, .k-menu-group .k-item.k-focus{
    

    .k-link {
      box-shadow: none;
      background-color: #ebebeb;
      color: #4685c1;
      font-weight: bold;
    }
  }
  .k-menu-group-lg .k-menu-link {
    //padding-block: 6px;
    //padding-inline: 8px;
    padding-inline-end: 8px;
    span{
      justify-content: center;
    }

    
  }
  .k-menu-group-sm .k-menu-link {
    //padding-block: 6px;
    //padding-inline: 8px;
    padding-inline-end: 8px;
    height: 32px;
    span{
      justify-content: center;
    }

    
  }

  //.k-menu-group .k-menu-item{
  //  align-items: center;
  //  span{
  //    padding-inline-end: unset;
  //  }
  //}
  //.k-link .k-menu-link{
  //  .k-menu-link-text{
  //    span{
  //      padding: 0;
  //    }
  //  }
  //
  //}
}

.top-dropdownlist{
  .k-list-item{
    height: 32px;
  }
  .k-focus{
    box-shadow: none;
    color: #ca3d57;
    background-color: unset;
  }
}

.k-button-icon{
  font-size: 20px;
}

//////////////////////////////////////////////////////
